* text=auto eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.ts text eol=crlf
*.mjs text eol=crlf
*.json text eol=crlf
*.md text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf
*.png binary
*.ico binary
*.exe binary
*.command text eol=lf
*.swift text eol=lf
*.sh text eol=lf
*.service text eol=lf
